
·/* Carusel*/
 body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
        height: 50px;
       
    }
    .swiper-slide {
	text-shadow: none !important;
        text-align: center;
        font-size: 18px;
        background: #fff;
            width: 60% !important;
		    margin-right: 0px !important;
       border-right: 1px #CC0125 solid;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-slide:nth-child(2n) {
        width: 50%;
    }
    .swiper-slide:nth-child(3n) {
        width: 50%;
    }

	/* fin carusel */
	/*header*/
.ui-bar-b{      
background:rgb(23, 15, 128)!important;
/*background: -moz-linear-gradient(left, rgba(237,207,14,1) 0%, rgba(241,231,103,1) 53%, rgba(237,207,14,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,207,14,1)), color-stop(53%, rgba(241,231,103,1)), color-stop(100%, rgba(237,207,14,1)));
background: -webkit-linear-gradient(left, rgba(237,207,14,1) 0%, rgba(241,231,103,1) 53%, rgba(237,207,14,1) 100%);
background: -o-linear-gradient(left, rgba(237,207,14,1) 0%, rgba(241,231,103,1) 53%, rgba(237,207,14,1) 100%);
background: -ms-linear-gradient(left, rgba(237,207,14,1) 0%, rgba(241,231,103,1) 53%, rgba(237,207,14,1) 100%);
background: linear-gradient(to right, rgba(237,207,14,1) 0%, rgba(241,231,103,1) 53%, rgba(237,207,14,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edcf0e', endColorstr='#edcf0e', GradientType=1 );
	color:black !important;*/}		
a {    text-decoration: none;
    color: black !important;
}
#primera{display:table;  font-size: 18px;     width: 100%;}
.copetep{
 
   text-align: center;
    background-color: rgba(0, 0, 163, 0.6);
    color: rgb(255, 255, 255);
    margin-bottom: -66px;
    position: absolute;
    text-shadow: 0px 0px 0px;
    height: 60px;
    font-size: 16px;
  
}
.copeteprimera{
   background-color: rgba(39, 39, 35, 0.57);
    color: rgb(255, 255, 255);
  text-align:center;
  margin-top:-2%;
    position: relative;
    text-shadow: 0px 0px 0px;
  
}
#secundarias{ display: table;  font-size: 14px;}

.notisegunda{width: 48%;
    float: left;
    padding: 1%; }
.titucategoria{

/*background: -moz-linear-gradient(left, rgba(237,207,14,1) 0%, rgba(241,231,103,1) 53%, rgba(237,207,14,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,207,14,1)), color-stop(53%, rgba(241,231,103,1)), color-stop(100%, rgba(237,207,14,1)));
background: -webkit-linear-gradient(left, rgba(237,207,14,1) 0%, rgba(241,231,103,1) 53%, rgba(237,207,14,1) 100%);
background: -o-linear-gradient(left, rgba(237,207,14,1) 0%, rgba(241,231,103,1) 53%, rgba(237,207,14,1) 100%);
background: -ms-linear-gradient(left, rgba(237,207,14,1) 0%, rgba(241,231,103,1) 53%, rgba(237,207,14,1) 100%);
    background: linear-gradient(to right, rgba(237,207,14,1) 0%, rgb(0, 0, 0) 53%, rgba(237,207,14,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edcf0e', endColorstr='#edcf0e', GradientType=1 );*/
  background: rgb(199, 0, 0);
    color: white;
    font-size: 20px;
    padding: 2%;
    box-shadow: 1px 0px 2px black;
    text-align: center;
    margin-top: 4%;
    border: 1px rgb(119, 7, 22) solid;
}
.titucategoriaazul{
 background: rgb(23, 15, 128);
    color: white;
    font-size: 20px;
    padding: 2%;
    box-shadow: 1px 0px 2px black;
    text-align: center;
    margin-top: 4%;
    border: 1px rgb(119, 7, 22) solid;
}			
.tituseccion{
   
background: rgb(23, 15, 128);
/*background: -moz-linear-gradient(left, rgba(237,207,14,1) 0%, rgba(241,231,103,1) 53%, rgba(237,207,14,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,207,14,1)), color-stop(53%, rgba(241,231,103,1)), color-stop(100%, rgba(237,207,14,1)));
background: -webkit-linear-gradient(left, rgba(237,207,14,1) 0%, rgba(241,231,103,1) 53%, rgba(237,207,14,1) 100%);
background: -o-linear-gradient(left, rgba(237,207,14,1) 0%, rgba(241,231,103,1) 53%, rgba(237,207,14,1) 100%);
background: -ms-linear-gradient(left, rgba(237,207,14,1) 0%, rgba(241,231,103,1) 53%, rgba(237,207,14,1) 100%);
    background: linear-gradient(to right, rgba(237,207,14,1) 0%, rgb(0, 0, 0) 53%, rgba(237,207,14,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edcf0e', endColorstr='#edcf0e', GradientType=1 );*/
    color: #EDCF0E;
    font-size: 23px;
     
    text-align: center;
    margin-top: 0%;
	    border: 1px rgba(237,207,14,1) solid}
		
		
		
.imgcate{    float: right;
    padding-right: 1%;
    margin-left: 10px;
    width: 50%;}
#butonham{  padding: 1.3em 1.3em !important;}

.imgred{    float: left;
    width: 30%;
	    margin-left: 3%;}
	#cargando{position: absolute; top:50%; margin-top:-50px;}
	.cargando{position: absolute; top:50%; margin-top:-50px;}
	
.text1{    text-align: center;
    font-weight: 700;}

.imgpeque{width:20%}
.active{text-decoration: underline;
    background: #CC0125;
    color: white;
}

.notilocales{
    background: #C70000;
    color: white !important;
    text-shadow: none;
    padding-top: 10px;
    margin-bottom: 2px;
}
p {    padding-left: 6px;}